@model TeamworkReporter.Models.Auth.ResetPasswordViewModel

<label for="inputPassword" class="sr-only">Password</label>
<input type="password" id="inputPassword" name="@Html.NameFor(m => m.Password)" class="form-control group-middle" placeholder="Password" required value="@Html.ValueFor(m=> m.Password)">
@Html.ValidationMessageFor(m => m.Password)

<label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
<input type="password" id="inputConfirmPassword" name="@Html.NameFor(m => m.ConfirmPassword)" class="form-control group-last" placeholder="Confirm Password" required value="@Html.ValueFor(m=> m.ConfirmPassword)">
@Html.ValidationMessageFor(m => m.ConfirmPassword)