@using System.Web.Optimization
@{
    string pageTitle = ViewBag.Title;
    var title = string.IsNullOrWhiteSpace(pageTitle) ? "Teamwork Reporter" : pageTitle + " : Teamwork Reporter";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Html.Raw(title)</title>
    @Styles.Render("~/bundles/css")
    @RenderSection("styles", false)
</head>
<body>
    @Html.Partial("_Header")
    @Html.Partial("_Navigation")
    <div class="container-fluid">
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="container-fluid">
            @Html.Partial("_Footer")
        </div>
    </footer>
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", false)
</body>
</html>
