@using TeamworkReporter.Models
@using TeamworkReporter.Models.Timelogs
@model TimelogsViewModel

@{
    var people = Model.People ?? Enumerable.Empty<PersonViewModel>();
    Func<TimelogsPeriod, TimelogsPeriod, string, string> isPeriod = (t1, t2, a) => t1 == t2 ? a : string.Empty;
}

@section scripts {
    <script>
        $(document).ready(function() {
            $("input.person, label.period").timelogRefresh({
                timelogGridClass: ".grid",
                timelogPeopleClass: ".people",
                timelogPeriodsClass: ".periods",
                urlToGetUpdatedGrid: "@Url.Action("Timelogs", "Reporting")"
            });
        });
    </script>
}

<div class="timelogs">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-4">
                    <h4>People</h4>
                </div>
            </div>
            <div class="panel panel-default people">
                <div class="panel-body">
                    @foreach (var person in people)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="person" value="@person.Id" data-fullname="@Html.Raw(person.FullName)">
                                @Html.Raw(person.FullName)
                            </label>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-2">
                    <h4>Timesheet</h4>
                </div>
                <div class="col-md-4">
                    <div class="btn-group periods" data-toggle="buttons">
                        <label class="btn btn-primary period @isPeriod(Model.Period, TimelogsPeriod.Daily, "active")">
                            <input type="radio" value="@TimelogsPeriod.Daily" name="@Html.NameFor(m => m.Period)" @isPeriod(Model.Period, TimelogsPeriod.Daily, "checked")/>@TimelogsPeriod.Daily
                        </label>
                        <label class="btn btn-primary period @isPeriod(Model.Period, TimelogsPeriod.Weekly, "active")">
                            <input type="radio" value="@TimelogsPeriod.Weekly" name="@Html.NameFor(m => m.Period)" @isPeriod(Model.Period, TimelogsPeriod.Weekly, "checked")/>@TimelogsPeriod.Weekly
                        </label>
                        <label class="btn btn-primary period @isPeriod(Model.Period, TimelogsPeriod.Monthly, "active")">
                            <input type="radio" value="@TimelogsPeriod.Monthly" name="@Html.NameFor(m => m.Period)" @isPeriod(Model.Period, TimelogsPeriod.Monthly, "checked")/>@TimelogsPeriod.Monthly
                        </label>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body grid">
                    @Html.Partial("_TimelogGrid", Model)
                </div>
            </div>
        </div>
    </div>
</div>